<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Facelet Title</title>
    </head>
    <body>
        <h:form>
            <p>Número1 : <h:inputText value="#{calculadora.numero1}"/></p>
            <p>Número2 : <h:inputText value="#{calculadora.numero2}"/></p>
            <p>Resultado: <h:outputText value="#{calculadora.resultado}"/> </p>
            <h:commandButton value="+" action="#{calculadora.somar}"/>
            <h:commandButton value="-" action="#{calculadora.subtrair}"/>
            <h:commandButton value="/" />
            <h:commandButton value="Limpar" action="#{calculadora.limpar}"/>
           </h:form>
    </body>
</html>

